body {
  margin: 0;
  padding: 0;
  padding-bottom: 5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #424242;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #fff;
  text-shadow: 2px 2px #202020;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary-color {
  background-color: #b3381f;
}
.secondary-color {
  background-color: #ff9a2e;
}
.secondary-color-d {
  background-color: #40b1bd;
}
.link {
  color: #ff9a2e;
}

.card {
  width: 15em;
  height: 17em;
  margin: 10px;
  transition: 0.5s;
  border: none;
  background-color: #606060;
  border-bottom: 5px solid #ff9a2e;
}

.card:hover {
  transform: scale(1.09);
  box-shadow: 1px 7px 10px #202020;
}

.card-body {
  padding: 5px;
  overflow: auto;
  margin: 14px;
}
.stream_card_container {
  display: flex;
  overflow: scroll;
  margin: 30px;
  padding: 15px;
}

.jumbotron {
  width: 100%;
  padding: 10px;
  background-color: #303030;
  box-shadow: 1px 3px 5px #202020;
}

.login_form_container {
  background-color: #f2f2f2;
  margin-top: 10vh;
  margin-left: 40vw;
  margin-right: 40vw;
  padding-bottom: 20vh;
}
.login_form {
  align-content: center;
  padding-top: 100px;
}
#edit_form{
  background-color: #606060;
  text-align: center;
  -ms-align-items: center;
  align-items: center;
  width: 30%;
  margin: 20px auto;
}

.edit_btn {
  display: block;
  margin: 10px auto;

}
.white_label {
  color: white;
}
